.modal-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-delete {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

.floating-delete img{
  width: 5.3rem;
}

.text-content{
  margin: 1rem;
}

.btn-close{
  text-align: right;
  padding-right: 1rem;
}
.close {
  font-size: 1.5rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.btdelete{
  padding: 0.6rem 3rem;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
  margin-bottom: 1rem;
  background-color: #FF5959;
}

.btdelete:hover{
  background-color: #b53636;
}


@media (min-width: 600px ) {
  .floating-delete{
    width: 62%;
  }
}

@media (min-width: 1000px ) {
  .floating-delete{
    width: 28rem;
  }
}
