.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 3rem; */
  width: 95%;
  margin: 0 auto;
}

.dropdown-menu {
  position: absolute;
  transition: opacity 200ms ease-in-out, height 200ms ease-in-out, padding 200ms ease-in-out, margin 200ms ease-in-out;
  top: 60px;
  right: 10%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display:block;
}

.menu.leave {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.user{
  cursor: pointer;
}
.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-menu ul li a{
  text-decoration: none;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin-bottom: 2rem; */
}

.logo img{
  height: 2.5rem;
}

.logo h1{
  font-size: 1.5rem;
  color: #7C3AED;
}
@media (min-width: 700px ) { /* de 1000 en adelante */
  .menu{
    width: 85%;
  }
}
