<div class="login-container">

  <!-- <div class="logo-head">
    <img src="assets/logo.png" alt="Logo" />
  </div> -->

  <div class="logo">
<!--    <img src="assets/login.png" alt="Logo" />-->
    <img src="assets/login.png" alt="Logo" />
  </div>

  <div class="login">
    <div class="logo-head">
      <img src="assets/logo.png" alt="Logo" />
      <h1>TasKonnect</h1>
    </div>

    <div class="login-form">
      <h2>INICIAR SESIÓN</h2>

      <div class="form-input">
        <label for="username">Correo:</label>
        <input [(ngModel)]="user.email" type="email" id="username" name="username" required>
        <div class="error" *ngIf="errorMessage.email.mostrar">
          <p>{{errorMessage.email.text}}</p>
        </div>
      </div>

      <div class="form-input">
        <label for="password">Contraseña:</label>
        <div class="input-pass">
          <input [(ngModel)]="user.password" type="password" id="password" name="password" required>
          <img src="assets/mostrasPass.svg" alt="noMostrar" *ngIf="!mostrar" (click)="mostrarPass()">
          <img src="assets/ocultarPass.svg" alt="mostrar" *ngIf="mostrar" (click)="noMostrarPass()">
        </div>
        <div class="error" *ngIf="errorMessage.password.mostrar">
          <p>{{errorMessage.password.text}}</p>
        </div>
        <div class="success" *ngIf="successMessage.mostrar">
          <p>{{successMessage.text}}</p>
        </div>
        <div class="error" *ngIf="loginErrorMessage.mostrar">
          <p>{{loginErrorMessage.text}}</p>
        </div>
      </div>

      <button class="form-submit" (click)="loginUsuario()" >INGRESAR</button>

      <div class="form-footer">
        <!-- <a href="#">Olvidé mi contraseña</a><br> -->
        <p>¿Eres nuevo?<a href="#" [routerLink]="['/register']"> Regístrate</a></p>
      </div>
    </div>
  </div>
</div>
